@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap');
* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    /* color: #000000; */
}

a {
    text-decoration: none;
    display: inline-block;
}

a:visited {
    color: black;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* HEADER */
.header {
    padding-left: 3%;
    padding-right: 3%;
    min-width: 375px;
    width: 100%;
    max-width: 1300px;
    height: 140px;
    margin: 0 auto;
    background-color: #f8f5ff;
  }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 30px;
  }
  .logo a {
    font-size: 30px;
    font-style: italic;
    letter-spacing: 2px;
    /* margin-right: 400px; */
  }
  .logo a:hover,
  .signup__bag a:hover,
  .signup__bag span:hover,
  .menu-item a:hover,
  .dropbtn:hover,
  .mobile__menu-item a:hover,
  .dropdown-container a:hover {
    color: #003d9e;
  }
  
  .signup__bag {
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
  }
  .signup__bag img {
    width: 15px;
    height: 15px;
  }
  
  .header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 22px;
  }
  .menu {
    width: 80%;
  }
  .menu-list {
    display: flex;
    justify-content: space-around;
  }
  
  .menu-item {
    font-size: 16px;
  }
  
  .dropbtn {
    font-size: 16px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown p {
    position: relative;
  }
  .dropdown img {
    position: absolute;
    /* top: 3px; */
    left: 70px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* top: 20px; */
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99999;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
    cursor: pointer;
  }
  .search {
    display: flex;
  }
  .search input {
    border: none;
    border-bottom: 2px solid gray;
    width: 150px;
    padding: 5px;
    margin: 0;
  }
  .search .icon {
    margin-left: -15px;
    cursor: pointer;
  }
  
  /* header-mobile************************************* */
  .header__mobile {
    display: none;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    height: 100%;
    padding: 20px 5px;
  }
  .header__mobile img {
    height: 16px;
    width: 16px;
  }
  .header__mobile-main {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    /* height: 100%; */
    align-items: baseline;
  }
  #hideBurger {
    display: none;
  }
  
  /* mobile-menu *********************************** */
  .mobile-menu {
    width: 100%;
    width: 95vw;
    /* height: 95vh;     */
    max-width: 767px;
    display: none;
  }
  .mobile-menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .dropdown-container {
    display: none;
    /* background-color: #262626; */
    padding-left: 8px;
  }
  .search-mobile {
    padding-left: 10px;
  }
  .dropdown-btn a {
    position: relative;
  }
  .dropdown-btn img {
    position: absolute;
    top: 10px;
    left: 100px;
  }


/***************************** IPHONE CATALOG */

.iphones__catalog {
    width: 80%;
}

.iphones {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 1300px;
    min-width: 375px;
}

.iphones__header {
    font-size: 2.5vw;
    color: white;
    background-color: rgb(0, 61, 158);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px 40px;
    border-bottom: 1px solid grey;
}

.iphones__body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.iphones__filters {
    width: 20%;
    padding-left: 30px;
    border-right: 1px solid gray;
    position: relative;
}

.iphones__filters h3 {
    margin: 10px 0;
    /* color: white; */
}

.iphones__filters .filter__apply {
    border: none;
    border: 2px solid black;
    margin: 20px 0;
    width: 150px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    /* margin-left: 30px; */
}

.filter__apply-mobile {
    display: none;
}

.iphones__filters img {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
    background-color: tomato;
    cursor: pointer;
}

.filter__item {
    margin-bottom: 5px;
    line-height: 1.2;
}
.filter__item span {
    /* color: white; */
}

.iphones__catalog-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-top: 1px solid gray;
    /* border-left: 1px solid gray; */
}

.iphones__catalog-sort {
    margin: 20px 50px;
    font-size: 18px;
}

.openFilters {
    display: none;
    cursor: pointer;
    margin-right: 50px;
}

.openFilters:hover {
    text-decoration: underline;
}

.iphones__catalog-sort span {
    font-size: 20px;
    /* padding-right: 20px; */
}

.iphone__item {
    width: 28%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    /* border: 1px solid gray; */
}

.iphone__item img {
    height: 250px;
    width: 250px;
}

.iphone__item-title {
    width: 80%;
    height: 50px;
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 700;
}

.iphone__item-price {
    font-size: 24px;
    margin-bottom: 15px;
}

.iphone__item button {
    background-color: #003d9e;
    border: none;
    border-radius: 5px;
    color: white;
    height: 50px;
    width: 200px;
    cursor: pointer;
}


/* LINKS */


.links {
    min-width: 375px;
    display: flex;
    max-width: 1300px;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid gray;
    justify-content: flex-start;
  }
  .links__bodies {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column;
  }
  
  .links__header {
    /* font-size: 24px; */
    font-weight: 700;
    margin-bottom: 2vw;
    font-size: 2vw;
  }
  
  .links__link a {
    font-size: 1.5vw;
    margin-bottom: 5px;
  }
  .links__link {
    padding-bottom: 1.5vw;
  }
  
  .links__link a:hover {
    text-decoration: underline;
  }
  
  /* FOOTER */
  
  .footer {
    min-width: 375px;
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #003d9e;
    color: white;
    padding: 20px 40px;
  }
  
  .footer a {
    color: white;
    font-size: 1.3vw;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  .footer__rights {
    font-size: 1.3vw;
  }
  .footer li {
    display: inline;
    padding-right: 10px;
  }


@media only screen and (max-width: 1024px) {
    .iphone__item img {
        width: 70%;
        height: 70%;
    }
    .iphone__item {
        width: 43%;
    }
    .iphones__filters .filter__apply {
        width: 120px;
        height: 40px;
        font-size: 18px;
    }
}


@media only screen and (max-width: 768px) {
    .iphones__header{
        font-size: 26px;
    }
    .header__desktop {
        display: none;
      }
      .header__mobile {
        display: flex;
      }
      .header {
        height: 80px;
      }
      .iphones__filters {
        position: absolute;
        top: 210px;
        left: 0px;
        z-index: 999;
        background-color: black;
        color: aliceblue;
        width: 200px;
        display: none;
    }
    .iphones__filters img {
        display: block;
    }
    .openFilters {
        display: inline;
    }
    .filter__apply {
        display: none;
    }
    .filter__apply-mobile {
        display: block;
    }
    .iphones__catalog-content {
        position: relative;
        border: none;
    }
    .iphones__catalog {
        width: 100%;
    }
    .iphone__item {
        width: 49%;
        margin: 0px;
        margin-bottom: 20px;
    }
    .iphone__item button {
        width: 150px;
        height: 50px;
    }
    .iphone__item-title{
        font-size: 16px;
    }
}
@media only screen and (max-width: 500px) {
    .iphone__item-title{
        font-size: 14px;
    }
    .openFilters {
        margin-right: 20px;
    }
    .iphones__catalog-sort {
        margin: 10px 25px;
    }
    .links__header {
        font-size: 14px;
    }
    .links__link a {
        font-size: 10px;
    }
    .footer{
        padding: 15px 20px;
    }
    .footer__rights {
        font-size: 1.6vw;
    }
    .footer a {
        font-size: 2vw;
    }
    .footer li {
        padding-right: 0px;
    }
}