@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap');
* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:visited {
    color: black;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* HEADER */

.header {
    display: flex;
    padding: 20px 40px;
    border-bottom: 1px solid gray;
    align-items: center;
}

.header__logo:hover {
    opacity: 0.3;
}

.header__menu {
    padding-top: 25px;
}

.header__menu li {
    display: inline;
    color: black;
    font-size: 30px;
    padding-right: 20px;
}

.header__menu li:hover {
    opacity: 0.5;
}

.header__bag {
    margin-top: 25px;
    font-size: 24px;
    color: black;
}

.header__bag:hover {
    opacity: 0.4;
}


/* MOBILE MENU */

#hideBurger {
    display: none;
}

.header__mobile {
    display: none;
}

.header__mobile {
    padding-top: 20px;
}

.mobile__menu {
    display: none;
    font-size: 26px;
}

.mobile__menu-block {
    padding: 5px 25px;
}

.mobile__menu-block:hover {
    opacity: 0.5;
}


/***************************** IPHONE CATALOG */

.iphones__catalog {
    width: 80%;
}

.iphones {
    padding-bottom: 30px;
}

.iphones__header {
    font-size: 30px;
    color: white;
    padding: 20px 40px;
    border-bottom: 1px solid gray;
    background-color: #003d9e;
    text-align: center;
}

.iphones__body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.iphones__filters {
    width: 20%;
    padding-left: 30px;
    border-right: 1px solid gray;
    position: relative;
}

.iphones__filters h3 {
    margin: 10px 0;
}

.iphones__filters .filter__apply {
    border: none;
    border: 2px solid black;
    margin: 20px 30px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    /* margin-left: 30px; */
}

.filter__apply-mobile {
    display: none;
}

.iphones__filters img {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
    background-color: tomato;
    cursor: pointer;
}

.filter__item {
    margin-bottom: 5px;
    line-height: 1.2;
}

.iphones__catalog-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-top: 1px solid gray;
    /* border-left: 1px solid gray; */
}

.iphones__catalog-sort {
    margin: 20px 50px;
    font-size: 18px;
}

.openFilters {
    display: none;
    cursor: pointer;
    margin-right: 50px;
}

.openFilters:hover {
    text-decoration: underline;
}

.iphones__catalog-sort span {
    font-size: 20px;
    /* padding-right: 20px; */
}

.iphone__item {
    width: 28%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    /* border: 1px solid gray; */
}


/* .iphone__item:hover {
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 1);
    } */

.iphone__item img {
    height: 250px;
    width: 250px;
}

.iphone__item-title {
    width: 80%;
    height: 50px;
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 700;
}

.iphone__item-price {
    font-size: 24px;
    margin-bottom: 15px;
}

.iphone__item button {
    background-color: #003d9e;
    border: none;
    border-radius: 5px;
    color: white;
    height: 50px;
    width: 200px;
    cursor: pointer;
}


/* LINKS */

.links {
    display: flex;
    width: 1000px;
    padding: 10px 0;
    border-top: 1px solid gray;
}

.links a:visited {
    color: black;
}

.links__bodies {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column;
}

.links__header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.links__link {
    font-size: 20px;
    margin-bottom: 20px;
}

.links__link a:hover {
    text-decoration: underline;
}


/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    background-color: #003d9e;
    color: white;
    padding: 20px 40px;
}

.footer a {
    color: white;
}

.footer a:hover {
    text-decoration: underline;
}

.footer li {
    display: inline;
    padding-right: 10px;
}

@media only screen and (max-width: 1024px) {
    .iphone__item {
        width: 43%;
    }
    .iphone__item img {
        width: 300px;
        height: 300px;
    }
    .iphones__filters {
        padding-left: 15px;
    }
    .iphones__filters .filter__apply {
        width: 99px;
        height: 33px;
        font-size: 16px;
    }
    .links {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .header__mobile {
        display: inline;
    }
    .header__menu {
        display: none;
    }
    .iphones__filters {
        position: absolute;
        top: 265px;
        left: 0px;
        z-index: 999;
        background-color: black;
        color: aliceblue;
        width: 200px;
        display: none;
    }
    .iphones__filters img {
        display: block;
    }
    .openFilters {
        display: inline;
    }
    .filter__apply {
        display: none;
    }
    .filter__apply-mobile {
        display: block;
    }
    .iphones__catalog-content {
        position: relative;
        border: none;
    }
    .iphones__catalog {
        width: 100%;
    }
    .iphone__item {
        width: 49%;
        margin: 0px;
    }
    .iphone__item button {
        width: 150px;
        height: 50px;
    }
    .iphone__item img {
        width: 250px;
        height: 250px;
    }
    .links {
        width: 100%;
    }
    /* .color,
        .capacity {
            width: 42%;
        }
        .iphone__content-info-button {
            margin-left: 0;
        }
        .related img {
            width: 180px;
            height: 180px;
        } */
    .footer {
        font-size: 12px;
    }
    .iphone__content-info_title {
        font-size: 28px;
    }
    .iphone__content-info_price {
        font-size: 24px;
    }
    .related__block-title {
        font-size: 16px;
    }
    .related__block-price {
        font-size: 20px;
    }
    .links__header {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .links__link {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .iphone__content-info_title {
        margin: 14px 0;
    }
}

@media only screen and (max-width: 500px) {
    .iphone__item img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width:425px) {
    .iphone__content {
        flex-direction: column;
    }
    .iphone__content-images img {
        margin-left: 0;
        width: 425px;
        height: 425px;
    }
    .iphone__content-info {
        width: 100%;
        padding: 0 20px;
    }
    .related img {
        width: 100px;
        height: 100px;
    }
    .iphone__content-info-button {
        margin-left: 67px;
    }
    .related__block-title {
        font-size: 11px;
    }
}