@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap');
* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:visited {
    color: black;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* HEADER */

.header {
    display: flex;
    padding: 20px 40px;
    border-bottom: 1px solid gray;
    align-items: center;
}

.header__logo:hover {
    opacity: 0.3;
}

.header__menu {
    padding-top: 25px;
}

.header__menu li {
    display: inline;
    color: black;
    font-size: 30px;
    padding-right: 20px;
}

.header__menu li:hover {
    opacity: 0.5;
}

.header__bag {
    margin-top: 25px;
    font-size: 24px;
    color: black;
}

.header__bag:hover {
    opacity: 0.4;
}


/* MOBILE MENU */

#hideBurger {
    display: none;
}

.header__mobile {
    display: none;
}

.header__mobile {
    padding-top: 20px;
}

.mobile__menu {
    display: none;
    font-size: 26px;
}

.mobile__menu-block {
    padding: 5px 25px;
}

.mobile__menu-block:hover {
    opacity: 0.5;
}


/* IPHONE */

.iphone {
    padding-bottom: 30px;
}

.iphone__header {
    font-size: 30px;
    color: white;
    padding: 20px 40px;
    border-bottom: 1px solid gray;
    background-color: #003d9e;
    text-align: center;
}

.iphone__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iphone__content-images {
    width: 45%;
}

.iphone__content-info {
    width: 40%;
}

.iphone__content-info_title {
    font-size: 34px;
    font-weight: 500;
    margin: 25px 0;
}

.iphone__content-info_price {
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.iphone__content-info_color,
.iphone__content-info_capacity {
    padding: 15px 0;
    border-bottom: 1px solid gray;
}

.colors,
.capacity-block {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}

.color,
.capacity {
    width: 35%;
    height: 70px;
    text-align: center;
    margin: 10px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.capacity {
    font-size: 30px;
    padding-top: 15px;
}

.color:hover {
    background-color: rgba(12, 11, 11, 0.678);
    color: rgb(219, 219, 219);
}

.capacity:hover {
    background-color: rgba(12, 11, 11, 0.678);
    color: rgb(219, 219, 219);
}

.color-title,
.capacity-title {
    font-size: 20px;
    font-weight: 600;
}

.color-circle {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 50%;
}

.color-circle-gray {
    background-color: #343d46;
}

.color-circle-mdngr {
    background-color: #004953;
}

.color-circle-slvr {
    background-color: #C0C0C0;
}

.color-circle-gold {
    background-color: #d4af37;
}

.iphone__content-info-button {
    width: 250px;
    height: 70px;
    font-size: 30px;
    font-weight: 900;
    margin-top: 20px;
    /* color: rgb(219, 219, 219); */
    margin-left: 100px;
}

.iphone__content-info-button:hover {
    border: 1px solid #003d9e;
    color: #003d9e;
}


/* RELATED */

.related-title {
    font-size: 30px;
    color: white;
    padding: 20px 40px;
    border-bottom: 1px solid gray;
    background-color: #003d9e;
    text-align: center;
}

.related {
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.related__block {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 10px;
}

.related__block:hover {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 1);
}

.related__block-title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.related__block-price {
    font-size: 26px;
    margin-bottom: 15px;
}


/* LINKS */

.links {
    display: flex;
    width: 1000px;
    margin-top: 10px;
}

.links a:visited {
    color: black;
}

.links__bodies {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column;
}

.links__header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.links__link {
    font-size: 20px;
    margin-bottom: 20px;
}

.links__link a:hover {
    text-decoration: underline;
}


/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    background-color: #003d9e;
    color: white;
    padding: 20px 40px;
}

.footer a {
    color: white;
}

.footer a:hover {
    text-decoration: underline;
}

.footer li {
    display: inline;
    padding-right: 10px;
}

@media only screen and (max-width: 768px) {
    .header__mobile {
        display: inline;
    }
    .header__menu {
        display: none;
    }
    .iphone__content-images img {
        width: 450px;
        height: 450px;
        margin-left: -20px;
    }
    .iphone__content-images {
        margin: 0;
    }
    .links {
        width: 100%;
    }
    .color,
    .capacity {
        width: 42%;
    }
    .iphone__content-info-button {
        margin-left: 0;
    }
    .related img {
        width: 180px;
        height: 180px;
    }
    .footer {
        font-size: 12px;
    }
    .iphone__content-info_title {
        font-size: 28px;
    }
    .iphone__content-info_price {
        font-size: 24px;
    }
    .related__block-title {
        font-size: 16px;
    }
    .related__block-price {
        font-size: 20px;
    }
    .links__header {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .links__link {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .iphone__content-info_title {
        margin: 14px 0;
    }
}

@media only screen and (max-width:425px) {
    .iphone__content {
        flex-direction: column;
    }
    .iphone__content-images img {
        margin-left: 0;
        width: 425px;
        height: 425px;
    }
    .iphone__content-info {
        width: 100%;
        padding: 0 20px;
    }
    .related img {
        width: 100px;
        height: 100px;
    }
    .iphone__content-info-button {
        margin-left: 67px;
    }
    .related__block-title {
        font-size: 11px;
    }
}